@tailwind base;
@tailwind components;
@tailwind utilities;

.animate-fade-in {
  animation: fadeIn 1s ease-in-out 200ms forwards;
  opacity: 0;
}

.animate-slide-in {
  animation: slideIn 1s ease-in-out 600ms forwards;
  opacity: 0;
  transform: translateY(-100px);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
